$background-color: #fafafa;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Baskerville,Georgia, "Times New Roman", serif;
$text-color: #222222;
$link-color: #0000aa;

body { background-color: $background-color;color:$text-color}
.welcome {
  font-family:$serif;
  width:41em;
  margin: 50px auto;
  p {
    background-color:#444;
    color: #eee;
    li {
      font-family: ;
      a {
        color: darken($link-color, 20%);
        font-family:$sans-serif;
      }
    }
  }
}